* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}


/* UTILITY */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radious {
    border-radius: 5px;
}


/* padding */

.p-l-30 {
    padding-left: 3rem;
}


/* color */

.bg-blue {
    background-color: #0C325A;
}

.bg-green {
    background-color: #7CBB02;
}

.bg-gray {
    background-color: #D3D3D3;
}

.gray {
    color: #808090;
}


/* HEADER */

header {
    height: 35rem;
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

nav {
    height: 5rem;
    line-height: 5rem;
}

.img-logo {
    vertical-align: middle;
}

nav ul {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding-top: .5rem;
}

nav ul li {
    display: inline-block;
    padding: .4rem;
}

nav ul li a {
    padding: .6rem;
    font-size: .8rem;
}

.ul-right {
    float: right;
}

.login-btn {
    border: 1px solid #FFFFFF;
    padding-right: 2rem;
    padding-left: 2rem;
}


/* jumbo */

.bg-jumbo {
    background-image: url(../img/background-header.png);
    background-position: right bottom;
    background-size: 65%;
    background-repeat: no-repeat;
}

.jumbo {
    color: #FFFFFF;
    text-transform: capitalize;
    width: 50%;
    position: absolute;
    top: 12rem;
}

.jumbo h1 {
    font-weight: bold;
    font-size: 3.2rem;
}

.jumbo a .btn-jumbo {
    padding: 1.5rem;
    width: fit-content;
    margin-top: 1.5rem;
}


/* MAIN */

.description {
    height: 10rem;
    text-align: center;
    position: relative;
}

.desc {
    width: fit-content;
}


/* planes */

[class^="col-"] {
    float: left;
}

.row {
    margin-top: 2rem;
}

.col-33 {
    width: calc(100% / 3);
    padding: 0 2rem;
}

.col-33 img {
    display: block;
    height: 13rem;
    margin: 0 auto;
    text-align: center;
}

.col-33 h1 {
    text-align: center;
    color: #7CBB02;
    padding: 2rem 0rem;
}

.col-33 p {
    padding: 2rem 0;
    text-align: center;
}

.small-edge {
    width: 7rem;
    border: 1px solid #808090;
    margin: 0 auto;
}


/* statistics */

.col-50 img {
    width: 100%;
}

.col-50 {
    width: calc(100% /2);
}

.col-50-right {
    padding-right: 10rem;
    padding-top: 2rem;
    padding-left: 2rem;
}

.col-50-right h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.col-50-right a {
    display: inline-block;
    color: blue;
    text-decoration: underline;
    text-transform: initial;
    margin-top: 1rem;
}


/* FOOTER */

footer {
    height: 10rem;
}

footer .container {
    height: 100%;
}

footer .container>div {
    display: inline-block;
    height: 100%;
    width: 50%;
}

.new-plane {
    line-height: 10rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.username {
    padding-top: 3rem;
}

.username>* {
    vertical-align: middle;
    display: inline-block;
    margin-left: 1rem;
    color: gray;
}

.btn-footer {
    padding: 1.5rem;
    width: fit-content;
    color: #ffffff;
    vertical-align: middle;
}


/* <!-- HELP --> */

.btn-help {
    color: #ffffff;
    position: fixed;
    padding: .5rem;
    right: 215px;
    bottom: 0;
}